@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

html{
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 1.4vw;
   background: #39A1AE;
  box-sizing: border-box;
  font-family: 'Merienda', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn{
  font-size: calc(.2em + 1vw);
  background: #39A1AE;
  border: none;
  color: white;
  padding: calc(.2em + 1vw);
  border-radius: calc(.2em + 1vw);
  margin:  calc(.2em + 1vw);

}
.btn:hover{
  cursor: pointer;
}
h1{
font-family: 'Merienda', cursive;
font-size: calc(.5em + 1vw);
}
h2{
font-family: 'Merienda', cursive;
font-size: calc(.5em + 1vw);
}
h3{
font-family: 'Merienda', cursive;
font-size: calc(.5em + 1vw);
}
h4{
font-family: 'Merienda', cursive;
font-size: calc(.5em + 1vw);
}
h5{
  font-family: 'Merienda', cursive;
  font-size: calc(.5em + 1vw);
}
h6{
font-family: 'Merienda', cursive;
font-size: calc(.5em + 1vw);
}

